/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-dialog__surface::before {
    background-color: red;
   }
.hello {
    background-color:rgba(255,255,255,.3);
    backdrop-filter: blur(10px);
  }